asn1crypto==0.24.0
attrs==18.2.0
autobahn==18.12.1
Automat==0.7.0
boto3==1.6.6
botocore==1.9.6
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
constantly==15.1.0
cryptography==2.4.2
cycler==0.10.0
dateparser==0.7.0
docutils==0.14
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
jmespath==0.9.3
kiwisolver==1.0.1
lxml==4.1.1
matplotlib==2.2.0
numpy==1.14.1
pandas==0.22.0
psycopg2==2.7.3.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-binance==0.7.0
python-dateutil==2.6.1
pytrends==4.4.0
pytz==2017.3
ratelimit==1.4.1
regex==2018.11.22
requests==2.18.4
s3transfer==0.1.13
service-identity==18.1.0
six==1.11.0
slackclient==1.2.1
SQLAlchemy==1.2.4
Twisted==18.9.0
txaio==18.8.1
tzlocal==1.5.1
urllib3==1.22
websocket-client==0.47.0
zope.interface==4.6.0
